# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore virtual environment directories
ai_v_env

# Ignore IDE-specific files
.idea/

# Ignore macOS Finder files
.DS_Store

# Ignore Windows thumbnail cache
Thumbs.db

# Ignore log files
*.log

# Ignore environment variable files
*.env